.calendar, .tribe-events-calendar {
    //width: calc(100% - 32px);
    border: none;
    box-shadow: none;

    caption {
        h2 {
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 4px;
        }

        div {
            font-size: 24px;
        }
    }

    tr:hover {
        background: none;
        box-shadow: none;
    }

    th {
        padding: 16px !important;
    }

    td {
        padding: 0;
        width: 14%;
        height: 150px;
    }

    .day, .events {
        padding: 8px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
        color: #fff;
    }

    .events {
        height: 100%;
    }

    .day {
        margin: 0;
        background: #3f5161;
        border-bottom: 1px solid #222;
        font-size: 18px;
        color: #fff;
    }

    .day.disable {
        background: transparent;
        border-bottom: none;
    }

    .day::after {
        content: '\0000a0';
    }

    .events {
        font-size: 13px;
        line-height: 1.3;

        p, li  {
            margin-bottom: 4px;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }
}
