// Container

.container {
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}

.translucent {
    background: #0e0e0e;
}

@media (max-width: 768px) {
    .main {
        margin-bottom: 0;
    }
}
