// teste

.grid-video {
	display: grid;
	grid-template-columns: 752px 368px;
	grid-template-areas: content sidebar;
	grid-column-gap: 16px;
}

// =media

@media(max-width: 1168px) {
	.grid-video {
		grid-template-columns: 100%;

		.video-frame {
			display: flex;
			justify-content: center;
		}

		.video-info {
			margin-bottom: 16px;
		}
	}
}
