// Navbar

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 64px;
}

// =toggle
.navbar-toggle {
    display: none;
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
        background: rgba(255, 255, 255, .05);
    }

    &:active {
        background: rgba(255, 255, 255, .05);
    }

    &::before {
        font-family: 'Material Icons';
        content: 'menu';
        font-size: 24px;
        color: #eee;
    }
}

.navbar-toggle.active::before {
    content: 'close';
}

// =logo

.navbar-logo {
    display: flex;
    height: 64px;
    margin: 0;

    a {
        display: flex;
        align-items: center;
        padding: 0 24px 0 16px;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        &:active {
            outline: none;
            background: rgba(0, 0, 0, .5);
        }
    }

    img {
        width: 220px;
        // width: 159px;
        // height: 16px;
    }
}

.menu {
    display: flex;

    > .menu-item {
        position: relative;
        margin-left: 1px;

        > a {
            display: flex;
            align-items: center;
            height: 64px;
            padding: 0 24px;
            color: #eee;
        }
    }

    // Line
    > .current-menu-item::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 100%;
        background: $color-primary;
    }

    > .menu-item-has-children > a::after {
        content: 'arrow_drop_down';
        font-family: 'Material Icons';
        font-size: 18px;
    }

    > .current-menu-item > a, a:hover {
        background: rgba(255, 255, 255, .05);
    }

    a:active {
        background: rgba(0, 0, 0, .5);
    }
}
// =sub-menu
.sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 240px;
    background: #191919;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    transition: all .2s;

    a {
        display: block;
        color: #eee;
        border-top: 1px solid rgba(0, 0, 0, .3);
        padding: 16px;
    }

    .menu-item:last-child a {
        margin-bottom: 0;
    }
}

.menu > .menu-item:hover {
    .sub-menu {
        visibility: visible;
        opacity: 1;
    }
}

.sub-menu .sub-menu {
    display: none;
}

// =social-links

.social-links {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        &:hover {
            background: #555;
        }

        &:hover::before {
            color: #eee;
        }
    }

    ::before {
        font-family: 'Socicon';
        font-size: 18px;
        transition: all .2s;
        color: #999;
    }

    .youtube::before {
        content: '\e0a5';
    }

    .youtube:hover {
        background: #cc181e;
    }

    .twitch::before {
        content: '\e08c';
    }

    .twitch:hover {
        background: #4b367c;
    }

    .steam::before {
        content: '\e07e';
    }

    .steam:hover {
        background: #555;
    }

    .discord::before {
        content: '\e01d';
    }

    .discord:hover {
        background: #7289da;
    }

    .twitter::before {
        content: '\e08d';
    }

    .twitter:hover {
        background: #4da7de;
    }
}


// =media

@media (max-width: 1168px) {
    .social-links {
        right: 8px;
    }
}

@media (max-width: 768px) {

    .navbar {
        display: block;
    }

    // =toggle

    .navbar-toggle {
        display: block;
        top: 8px;
        right: 8px;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }

    .menu .menu-item {
        display: block;
        margin: 0;

        a {
            padding: 16px;
            height: auto;
            border-top: 1px solid rgba(0, 0, 0, .5);
        }
    }

    .menu-item-has-children a::after {
        position: absolute;
        top: 16px;
        right: 24px;
    }

    .menu-item.active a::after {
        transform: rotate(180deg);
    }

    // remove line
    .menu > .current-menu-item::before {
        background: transparent;
    }

    // =sub-menu
    .sub-menu {
        display: none;
        visibility: visible;
        opacity: 1;
        position: static;
        width: 100%;
        box-shadow: none;

        .menu-item {
            a {
                padding-left: 32px;
                background: rgba(0, 0, 0, .2);
            }

            a:active, a:hover {
                background: rgba(0, 0, 0, .3);
            }
        }
    }

    .sub-menu.active {
        display: block;
    }

    // =social-links
    .social-links {
        width: 150px;
        height: 64px;
        top: 0;
        left: 200px;

        a {
            width: 48px;
            height: 48px;
            border-radius: 5px;

            &::before {
                font-size: 24px;
            }
        }
    }

}

@media (max-width: 480px) {
    .social-links {
        display: none;
    }
}
