// Navbar

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 64px;
}

// =toggle
.navbar-toggle {
    display: none;
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
        background: rgba(255, 255, 255, .05);
    }

    &:active {
        background: rgba(255, 255, 255, .05);
    }

    &::before {
        content: 'menu';
        font-family: 'Material Icons';
        font-size: 24px;
        color: #eee;
    }
}

.navbar-toggle.active::before {
    content: 'close';
}

// =logo

.navbar-logo {
    display: flex;
    height: 64px;
    margin: 0;

    a {
        display: flex;
        align-items: center;
        padding: 0 24px 0 16px;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        &:active {
            outline: none;
            background: rgba(0, 0, 0, .5);
        }
    }

    img {
        width: 159px;
        height: 16px;
    }
}

.menu {
    display: flex;

    > .menu-item {
        position: relative;
        margin-left: 1px;

        > a {
            display: flex;
            align-items: center;
            height: 64px;
            padding: 0 24px;
            color: #eee;
        }
    }

    // Line
    > .current-menu-item::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 100%;
        background: $color-primary;
    }

    > .menu-item-has-children > a::after {
        content: 'arrow_drop_down';
        font-family: 'Material Icons';
        font-size: 18px;
    }

    > .current-menu-item > a, a:hover {
        background: rgba(255, 255, 255, .05);
    }

    a:active {
        background: rgba(0, 0, 0, .5);
    }
}
// =sub-menu
.sub-menu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    z-index: 1;
    width: 240px;
    background: #191919;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);

    a {
        display: block;
        color: #eee;
        border-top: 1px solid rgba(0, 0, 0, .3);
        padding: 16px;
    }

    .menu-item:last-child a {
        margin-bottom: 0;
    }
}

.menu > .menu-item:hover {
    .sub-menu {
        visibility: visible;
        opacity: 1;
    }
}

.sub-menu .sub-menu {
    display: none;
}


// =media

@media (max-width: 720px) {

    .navbar {
        display: block;
    }

    // =toggle

    .navbar-toggle {
        display: block;
        top: 8px;
        right: 8px;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }

    .menu .menu-item {
        display: block;
        margin: 0;

        a {
            padding: 16px;
            height: auto;
            border-top: 1px solid rgba(0, 0, 0, .5);
        }
    }

    .menu-item-has-children a::after {
        position: absolute;
        top: 16px;
        right: 24px;
    }

    .menu-item.active a::after {
        transform: rotate(180deg);
    }

    // remove line
    .menu > .current-menu-item::before {
        background: transparent;
    }

    // =sub-menu
    .sub-menu {
        display: none;
        visibility: visible;
        opacity: 1;
        position: static;
        width: 100%;
        box-shadow: none;

        .menu-item {
            a {
                padding-left: 32px;
                background: rgba(0, 0, 0, .2);
            }

            a:active, a:hover {
                background: rgba(0, 0, 0, .3);
            }
        }
    }

    .sub-menu.active {
        display: block;
    }

}
