.wp-pagenavi {
	display: flex;
	justify-content: center;	

	a, span {
		margin: 0 4px;
		margin-bottom: 16px;
	}

	a, .current  {
		display: block;
		padding: 12px 16px;
		background: #191919;
		color: #fff;
	}

	a:hover, .current {
		background: $color-primary;
		color: #eee;
	}

	a:active {
		background: #191919;
	}
}

@media (max-width: 768px) {
	.wp-pagenavi {
		flex-wrap: wrap;
		
		a, .current {
			padding: 12px 32px;
		}
	}
}
