.pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;

	li {
		margin: 0 4px;
	}

	a, .current  {
		display: block;
		padding: 12px 16px;
		background: #191919;
	}

	a:hover, .current {
		background: $color-primary;
		color: #eee;
	}

	a:active {
		background: #191919;
	}
}
