.slide {
    position: relative;
    overflow: hidden;
    width: 1168px;
    height: 320px;

    .slide-arrows {
        position: absolute;
        bottom: 50%;
    }

    .slide-dots {
        position: absolute;
        bottom: 0;
    }
}
