// display

.df {
	display: flex;
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

.di {
	display: inline;
}

.dn {
	display: none;
}

// margin

.ma {
	margin: 0 auto;
}

.m {
	margin: 16px;
}

.m-small {
	margin: 8px;
}

.m-large {
	margin: 32px;
}

.mt {
	margin-top: 16px;
}

.mt-small {
	margin-top: 8px;
}

.mt-large {
	margin-top: 32px;
}

.mr {
	margin-right: 16px;
}

.mr-small {
	margin-right: 8px;
}

.mr-large {
	margin-right: 32px;
}

.mb {
	margin-bottom: 16px;
}

.mb-small {
	margin-bottom: 32px;
}

.mb-large {
	margin-bottom: 32px;
}

.ml {
	margin-left: 16px;
}

.ml-small {
	margin-left: 8px;
}

.ml-large {
	margin-left: 32px;
}

// padding

.p {
	padding: 16px;
}

.pt {
	padding-top: 16px;
}

.pt-small {
	padding-top: 8px;
}

.pt-large {
	padding-top: 32px;
}

.pr {
	padding-right: 16px;
}

.pr-small {
	padding-right: 8px;
}

.pr-large {
	padding-right: 32px;
}

.pb {
	padding-bottom: 16px;
}

.pb-small {
	padding-bottom: 8px;
}

.pb-large {
	padding-bottom: 32px;
}

.pl {
	padding-left: 16px;
}

.pl-small {
	padding-left: 8px;
}

.pl-large {
	padding-left: 32px;
}

// font

.fs-large {
	font-size: 18px;
}

.fs-xlarge {
	font-size: 24px;
}

.fs-xxlarge {
	font-size: 30px;
}

// text

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.taj {
	text-align: justify;
}

.tu {
	text-transform: uppercase;
}

// clearfix

.clearfix::after, .clearfix::before {
	content: '';
	display: table;
}
