.video-grid {
	display: grid;
	grid-template-columns: 752px 368px;
	grid-template-areas: content sidebar;
	grid-column-gap: 16px;
}

.video {
	.video-frame {
		iframe {
			width: 752px;
			height: 423px;
		}
	}

	.video-title {
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.video-info {
		overflow: hidden;
		padding: 16px 16px 0 16px;
		background: #111;
	}

	.video-description {
		line-height: 1.5;

		a:hover {
			text-decoration: underline;
		}

		p, ul, ol {
			margin-bottom: 16px;
		}

		ul, ol {
			padding-left: 16px;
		}

		ul {
			list-style-type: square;
			padding-left: 16px;
		}

		ol {
			list-style: decimal;
		}
	}
}

.vrelated {
	.vrelated-item {
		display: flex;
		border-bottom: 1px solid #0a0a0a;
		padding: 8px;
		background: #111;
		background: linear-gradient(145deg, #151515 0%, #111 100%);
		color: #eee;

		&:last-child {
			border-bottom: 0;
		}

		&:hover {
			background: $color-primary;
			color: #fff;
		}

		&:active {
			background: #0d0d0d;
		}
	}

	.vrelated-img {
		display: block;
		max-width: 120px;
		height: 68px;
		margin-right: 8px;
	}

	.vrelated-title {
		display: flex;
		overflow: hidden;
		height: 68px;
		margin: 0;
		text-overflow: ellipsis;
		line-height: 1.3;
	}
}

// =media

@media(max-width: 1168px) {
	.video-grid {
		display: block;

		.video-frame {
			display: flex;
			justify-content: center;
		}

		.video-info {
			margin-bottom: 16px;
		}
	}
}

@media (max-width: 768px) {
	.video-grid {
		padding-top: 0;
	}

    .vrelated {
        margin-bottom: 16px;
    }
}
