// Base

* {
	box-sizing: border-box;
}

body {
	padding-top: 80px;
	background: #141414 url("../img/body-pattern.png") fixed center top;
	//background: #141414 url("../img/body.png") no-repeat fixed center top;
	font: 14px Roboto, 'Open Sans', Arial, 'sans-serif';
	line-height: 1;
	color: #ccc;
}

.body-pattern {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	content: '';
	width: 100%;
	height: 100%;
	background: url("../img/body-pattern.png") fixed;
}

::selection {
	color: #fff;
	background: $color-primary;
}

a {
	text-decoration: none;
	color: $color-primary;
}

a:hover {
	color: #fff;
}

a, button {
	transition: all 0.2s;
}

button:hover {
	cursor: pointer;
}

a:active, button:active {
	transition: none;
}

a:focus, button:focus {
	outline: none;
}

img, video {
	max-width: 100%;
	height: auto;
}

hr {
	height: 1px;
	margin: 0 0 16px 0;
	border: none;
	border-top: 1px solid #ccc;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 16px 0;
	font-weight: normal;
	font-size: 14px;
}

h2 {
	font-size: 20px;
}

p {
	margin: 0;
}
